section {
  width: 80%;
  padding: 20px;
  border: 2px dotted rgb(171, 171, 171);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#sec1 {
  background-color: aliceblue;
}

#secDiv {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.btC1 {
  margin: 20px;
}

h2, #btDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  background-color: blue;
  color: aliceblue;
}