
#secDiv {
  display: flex; 
  justify-content: center;
  align-items: center; 
}

.btC1 {
  margin: 20px;
}

h2, #btDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  background-color: blue;
  color: aliceblue;
}