form {
  width: 100%;
}

.fdiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div1 {
  width: 50%;
  text-align: center;
  margin: 10px;
}

.div2 {
  width: 20%;
  padding: 10px;
  margin: 10px;
}

.bt11, .bt12, .bt13 {
  width: 100%;
}

#txt2 {
  background-color: antiquewhite;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

input[type=text], #txt2 {
  width: 80%;
  height: 40px;
  text-align: center;
}

#txt1 {
  width: 100%;
  font-size: x-large;
}

#d1 {
  width: 100%;
}