
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fdiv {
  width: 100%;
}

#d0 {
  display: flex;
  justify-content: center;
  align-items: center; 
  
  width: 100%;
}
.inDiv, fieldset {
  width: 45%;
}
.inDiv {
  padding-top: 10px;
}
fieldset {
  text-align: center;
  padding: 10px;
}
table {
  width: 100%;
}

table, th, td {
  border: 1px solid gainsboro;
  border-collapse: collapse;
}

th, tr {
  height: 30px;
}

th {
  background-color: gray;
  color: white;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

.sp1 {
  text-align: center;
}
.sp2 {
  text-align: left;
}
.sp3 {
  text-align: right;
}

input[type=date] {
  display: inline-flex;
  height: 40px;
  width: 200px;
  font-size: large;
  font-weight: bold;
}